/* test comment for css */
body {
    font-family: 'Source Code Pro', monospace;
    background-color: #04112d ;
}

nav {
    background-color: #c851ab;
}

.navbar a { 
    float: left;
    color: #04112d;
    background-color: #c851ab;
    text-align: center;
    padding: 14px 19px;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar a:hover {
    background-color: #04112d;
    color: #c851ab;
  }

h1 {
    float: inline-start;
    color:#c851ab ;
}

p {
    color:#c851ab ;
    font-size: 20px;
}

.my-photo {
    width: 250px;
    border-radius: 15%;
}

button {
    color:#04112d ;
    background-color:#d382bf ;
    border-radius: 12px ;
    cursor: grab;
    font-size: 16px ;
    font-family: 'Source Code Pro', monospace;
}

#footer {
    font-size: 12px ;
}