/* test comment for css */
body {
    font-family: 'Source Code Pro', monospace;
    background-color: #04112d ;
}

nav {
    background-color: #c851ab;
    padding: 1.2em;
}

.navbar a { 
    float: inline-start;
    color: #04112d;
    background-color: #c851ab;
    text-align: center;
    padding: 1em 1.2em;
    text-decoration: none;
    font-size: 1.1em;
  }

  .navbar a:hover {
    background-color: #04112d;
    color: #c851ab;
  }

h1 {
    float: inline-start;
    color:#c851ab ;
}

p {
    color:#c851ab ;
    font-size: 1.1em;
}

.my-photo {
    width: 15em;
    border-radius: 15%;
    border-style: none;
}

button {
    color:#04112d ;
    background-color:#d382bf ;
    border-radius: 1.1em ;
    cursor: grab;
    font-size: 1.1em ;
    font-family: 'Source Code Pro', monospace;
}

#footer {
    position: fixed ;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1em;
    background-color: #c851ab;
    color: #04112d;
    font-size: 0.9em ;
}